  body {
    background-color: #e8efeb;
  }

  hr {
    border-color: #cadbbe;
    border-width: 10px;
    border-style: dotted none none none;
    width: 10%;
  }

h1 {
  color: #8b9682;
}

h3 {
  color: #8b9682;
}
